
@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.collapse.navbar-collapse.navbar-right{
  text-align: right;
  display: block;
  padding: 10px 15px;
}